@import url(reset.css);
.r {
  position: relative;
}
.a {
  position: absolute;
}
a {
  text-decoration: none;
  color: #000000;
}
html {
  font-size: 62.5%;
}
html,
body,
.warp {
  width: 100%;
  height: 100%;
  background: 0;
  background: #f2f2f2;
}
.warp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
header {
  width: 100%;
  height: 4rem;
  background: #f7f7f7;
  border-bottom: 1px solid #bfbfbf;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
header .left {
  width: 4rem;
  height: 4rem;
  background: 0;
  line-height: 4rem;
  text-align: center;
}
header .left img {
  width: 1rem;
  height: auto;
  background: 0;
}
header .center {
  -webkit-box-flex: 1;
  color: #262626;
  font-size: 20px;
  text-align: center;
  line-height: 4rem;
}
header .right {
  line-height: 4rem;
  text-align: center;
  width: 4rem;
  height: 4rem;
  background: 0;
}
header .right img {
  width: 2rem;
  height: auto;
  background: 0;
}
section {
  -webkit-box-flex: 1;
  overflow: auto;
}
section::-webkit-scrollbar {
  width: 0;
}
section .main1 {
  width: 100%;
  height: 10.4rem;
  background: 0;
  background: url(../../img/dianpu/zx1_02.jpg) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.3rem;
  position: relative;
}
section .main1 .top {
  width: 100%;
  height: 4rem;
  background: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 4.6rem;
}
section .main1 .top dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 100%;
  background: 0;
  position: relative;
}
section .main1 .top dl dt {
  width: 4rem;
  height: 4rem;
  background: 0;
  margin-right: 0.4rem;
}
section .main1 .top dl dt img {
  width: 100%;
  height: 100%;
  background: 0;
}
section .main1 .top dl dd {
  -webkit-box-flex: 1;
  text-align: left;
  color: #fff;
  line-height: 2rem;
}
section .main1 .top dl dd img {
  width: 4rem;
  height: 1rem;
  background: 0;
  vertical-align: middle;
}
section .main1 .top dl span {
  width: 4.2rem;
  height: 2rem;
  background: 0;
  position: absolute;
  right: 0;
  bottom: 0.5rem;
}
section .main1 .top dl span img {
  width: 100%;
  height: 100%;
  background: 0;
}
section .main1 .bottom {
  width: 100%;
  height: 4.6rem;
  background: 0;
  background: rgba(255, 255, 255, 0.8) !important;
  position: absolute;
  bottom: 0;
}
section .main1 .bottom ul {
  width: 100%;
  height: 100%;
  background: 0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
  padding-top: 0.6rem;
  box-sizing: border-box;
}
section .main1 .bottom li {
  -webkit-box-flex: 1;
}
section .main1 .bottom li img {
  width: 1.8rem;
  height: 1.8rem;
  background: 0;
}
section .main1 .bottom .fli {
  color: #fd8225;
  border-bottom: 1px #fd8225 solid;
}
section .lunbo {
  width: 100%;
  height: auto;
  background: 0;
}
section .lunbo img {
  width: 100%;
  height: auto;
  background: 0;
}
section .shangpin {
  width: 100%;
  padding: 0 0.8rem;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
section .shangpin dl {
  width: 50%;
  height: auto;
  background: 0;
  padding: 0 0.2rem;
  box-sizing: border-box;
  margin-top: 0.3rem;
  position: relative;
}
section .shangpin dl img {
  width: 100%;
  height: auto;
  background: 0;
}
section .shangpin dl dd {
  width: 100%;
  height: 6rem;
  background: #ffffff;
  padding: 0.5rem 0.5rem 1.2rem;
  box-sizing: border-box;
}
section .shangpin dl p {
  width: 100%;
  height: 1.4rem;
  background: 0;
  padding: 0 0.4rem;
  padding-right: 0.8rem;
  box-sizing: border-box;
  color: #fe812f;
  position: absolute;
  bottom: 1rem;
}
section .shangpin dl p .geng {
  float: right;
  color: #c7c7c7;
}
footer {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  border-top: #ededed;
}
footer ul {
  width: 100%;
  height: 100%;
  background: 0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
}
footer li {
  -webkit-box-flex: 1;
  border-right: 1px #ebebeb solid;
  line-height: 3.5rem;
  font-size: 1.4rem;
}
footer .lli {
  border: none;
}
